$bg-white: #ffffff;

$bg-cyan-50: rgb(236, 254, 255);
$bg-cyan-100: rgb(207, 250, 254);
$bg-cyan-200: rgb(165, 243, 252);
$bg-cyan-300: rgb(103, 232, 249);
$bg-cyan-400: rgb(34, 211, 238);
$bg-cyan-500: rgb(6, 182, 212);
$bg-cyan-600: rgb(8, 145, 178);
$bg-cyan-700: rgb(14, 116, 144);
$bg-cyan-800: rgb(21, 94, 117);
$bg-cyan-900: rgb(22, 78, 99);
$bg-cyan-950: rgb(8, 51, 68);

// gray scale
$gray-500: rgb(107, 114, 128);

// border-radius
$rounded: 0.25rem;
$rounded-full: 50px;
